<table class="table table-hover table-sm">
  <thead>
  <tr class="text-center bg-info">
    <th> Student</th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  <% @course.students.each do |s| %>
    <tr >
      <td class="col-sm-4"> <b> <%= s.fname %> </b> </td>
      <td> <%= link_to "Usuń", course_remove_path(id: @course.id,student_id: s.id),remote: true, class: "btn btn-sm btn-primary" %> </td>
    </tr>
  <% end %>

  </tbody>

</table>