<div class="jumbotron">
<h1>Courses</h1>

  <div id='tabelka'>

    <%= render partial: 'lista' %>

  </div>

  <div id="course_edit">

    <%= render partial: 'form', locals: {course: Course.new} %>

  </div>

</div>