<div class="jumbotron">
<h1>Courses</h1>


  <div id="lista">
    <%= render partial: 'lista' %>
  </div>

  <div id="form">
    <%= render partial: 'form', locals: {course: Course.new} %>
  </div>

</div>