<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= link_to 'Kurs Ruby on Rails - III rok informatyki PWSTE',root_path , class: "navbar-brand btn btn-info" %>&nbsp;&nbsp;
  <%= link_to 'Lista studentów', students_path, class: "btn btn-sm btn-info" %>&nbsp;&nbsp;
  <%= link_to 'Lista przedmiotów', courses_path, class: "btn btn-sm btn-info" %>&nbsp;&nbsp;
  <%= link_to 'Lista grup', groups_path, class: "btn btn-sm btn-info" %>

</nav>